@font-face {
    font-family: "Bebas-Neue";
    src: url(/Fuentes/BebasNeue-Regular.ttf);
}

body {
    margin: 0; /* Para quitar el por defecto */
    background-color: #b7bec8;
    overflow-x: hidden;
}
.maquina{
    display: block;
    /* font-family: monospace; */
    white-space: nowrap;
    border-right: 1px solid;
    width: 11ch;

    animation: typing 2s steps(11),
    blink .5s infinite step-end alternate;
    overflow: hidden;
}
@keyframes typing{
    from {width: 0}
}
@keyframes blink{
    50% {border-color: transparent}
}


footer {
    background-color: #373E48;
    color: #ECECEC;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
    position: relative;
    bottom: 0;
    border-top:1px solid #b7bec8;
}

#marca {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
    background-color: white;
    background-color: #ECECEC;
}
.corpocolor{
    color:#d12642;
}

.jumbotron h1 {
    color:#373E48;
    /* color:#d12642; */
    font-family: "Bebas-Neue";
    font-size: 5em;
    /* font-weight: bold; */
    letter-spacing: 0.2em;
    /* background-color: white; */
}

.navbar-brand {
    margin-left: 15px;
    margin-right: 0;
}
.navbar-brand:hover {
    color:#d12642;
}

.card-title{
    /* padding: 10px; */
    /* border-bottom: 1px solid gainsboro; */
    margin-bottom: 20px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

#search {
    margin-right: 5px;
}
.capas {
    height: 110vh;
}
#landing_page {
    height:75vh;
}
#left{
    background-color: white;
}
#QR{
    /* background-color: lightcoral; */
    margin: 10px auto;
    border-radius: 2px;
    border: 1px solid #ECECEC;
    /* offset:1px solid#535D6C; */
}
#right {
    background-color:#b7bec8;
    /* border-left: 1px solid gainsboro; */
}

#logo {
    margin-right: 10px;
}
#contact{
    border-left: 5px solid #ECECEC;
    /* position: absolute; */
    /* top: 35%; */
}
#presentacion{
    background-color: white;
    border-radius: 4px;
    height: 40vh;
    width: 55vw;
    box-shadow: 0em 0em 0.7em 0.03em rgba(83, 93, 108, 0.2);
    margin: auto;
}
#tabs{
    margin-top:35px;
}
.tabubi{
    border:1px solid #373E48;
    /* border:1px solid #373E48; */
    height: 25vh;
    width: 95%;
    margin: auto;
}
.horario{
    border-right:1px solid #b7bec8;
    margin: auto;
    /* padding-bottom: 0; */
}
#ubicacion{
    margin: auto;
}
#mapapanel{
    padding-right: 0;
    margin: auto;
}
#mapa{
    height: 20vh;
}
#clientes{
    position: absolute;
    bottom: 0;
}

#staff{
    border:1px solid #d12642;
    /* position: absolute; */
    overflow-y: auto;
    overflow-x:hidden;
    position: relative;
    top: -25vh;
    
}
.cardstaff{
    /* border: 1px solid #b7bec8; */
    /* max-width: 500px; */
    border-radius: 5px;
    box-shadow: 0em 0em 0.7em 0.03em rgba(83, 93, 108, 0.2);
    margin: 10px;
    height: 213px;
    /* padding: 0; */
    /* height:fit-content; */
}
.aux{
    /* height:fit-content; */
    border: 1px solid black;
}
.imc{
    /* padding: 10px 10px; */
    margin-top: auto;
    margin-bottom: auto;
    /* height: 110%; */
    /* margin: 5px 5px; */
    /* border-radius: 20px 0px; */
    /* border-radius: 20px 0px; */
}
.nombrestaff{
    display: inline;
    padding-bottom: 0;
    /* margin-bottom: 100px; */
    /* padding-bottom: 50px; */
}

.bio {
    font-size: 13px;
}
.posicion{
    display: inline;
    margin-left: 15px;
    padding: 2px 5px 2px 5px;
    outline: 1px solid #b7bec8;
    font-size: 13px;
}
.fe{
    color:steelblue;

}
.be{
    color:#d12642;

}
.punchline{
    font-weight:500;
    font-size: 14px;
}
#logomarca{
    /* padding: 10px; */
    margin-left: 10px;
    margin-right: 10px;
}

.osc{
    background-color: #373E48;
}

.dvideo {
    text-align: center;
    padding: 1em;
    height: 100%;
    border: 1px solid red;
}

.aaa {
    border: 1px solid cyan;
    height: fit-content;
}

.vh1 {
    color: #ECECEC;
    font-family: "Bebas-Neue";
    font-size: 48px;
    margin-top: 0.5em;
}

#miVideo {
    margin: 1em;
    width: 40vw;
}

.vcontrols {
    height: 3em;
}

.vcontrols > i, #volumen > i {
    color: #b7bec8;
}

.vcontrols > i {
    margin-left: 0.7em;
    margin-right: 0.7em;
    margin-bottom: 0.7em;
}